<!DOCTYPE html>
<html lang="ko">
<head>
  <h1> head Test </h1><br>
</head>
 
<body>
 
  <input type="hidden" value="INSERT 예제" onclick="location.href='/insert'">
  <input type="hidden" value="SELECT 예제" onclick="location.href='/select'">
  <input type="hidden" value="UPDATE 예제" onclick="location.href='/update'">
  <input type="button" value="INSERT 예제" onclick="location.href='/insert'">
  <input type="button" value="DROP 예제" onclick="location.href='/drop'">
 
  <br><br><br>
  <div>
      //
  </div>
  <br>
  <div>
      //
  </div>
  <br>
  <div>

    //
  </div>
  <br>
   
</body>
</html>

