<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta property="og:title" content="짐싸 - 가장 쉬운 이사, 짐싸"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.zimssa.kr/"/>
	<meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/zimssa-cdn/cs/editor_image/web_og_img_01.png"/>
	<meta property="og:site_name" content="짐싸 - 대한민국 원룸 이사 1등"/>
	<meta property="og:description" content="이사 비용 비교부터 이사까지 한번에, 짐싸에서 쉽고 간편하게 이사해보세요!"/>
	<meta name="keywords" content="이사, 원룸이사, 포장이사, 이사비용" />
	<meta name="description" content="이사 비용 비교부터 이사까지 한번에, 짐싸에서 쉽고 간편하게 이사해보세요!" />

	<title>짐싸 - 가장 쉬운 이사, 짐싸</title>

	<link rel="icon" href="/include/img/favicon.png" type="image/png">
	<link rel="canonical" href="https://www.zimssa.kr">
	<link rel="stylesheet" type="text/css" href="/include/css/output/plugin/perfect-scrollbar.min.css?v=72"/>
    <link rel="stylesheet" type="text/css" href="/include/css/output/home.min.css"/>
	<link rel="stylesheet" type="text/css" href="/include/css/output/loader.min.css"/>
	<link rel="stylesheet" type="text/css" href="/include/css/plugin/owl.carousel.min.css?v=72"/>
	<link rel="stylesheet" type="text/css" href="/include/css/output/plugin/owl.theme.default.min.css?v=72"/>

	<!--[if lt IE 9]>
	<script src="bower_components/html5shiv/dist/html5shiv.js?v=72"></script>
	<![endif]-->

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Person",
			"name": "짐싸",
			"url": "https://www.zimssa.kr",
			"sameAs": [
				"https://www.facebook.com/zimssa",
				"http://instagram.com/zimssa_official",
				"https://blog.naver.com/zimssa24",
				"https://itunes.apple.com/kr/app/id1203174270",
				"https://play.google.com/store/apps/details?id=com.wenext.zimssa",
				"https://www.youtube.com/channel/UCTAC_PbrDfFVrLneFTeVEuA"
			]
		}
	</script>

	<!-- Naver -->
	<script>
        var _NGUL = "wcs.naver.net/wcslog.js";
        var _NPR = location.protocol == "https:" ? "https://" + _NGUL : "http://" + _NGUL;

        document.writeln("<scr" + "ipt type='text/ja" + "vascript' src='" + _NPR + "'></scr" + "ipt>");
	</script>

	<script src="/include/js/output/plugin/jquery-3.2.1.min.js?v=72"></script>
	<script src="/include/js/output/plugin/owl.carousel.min.js?v=72"></script>
	<script src="/include/js/output/plugin/js.cookie.min.js?v=72"></script>
	<script src="/include/js/output/plugin/perfect-scrollbar.min.js?v=72"></script>
	<script src="/include/js/output/plugin/intersection-observer.min.js?v=72"></script>
	<script src="/include/js/output/plugin/jquery.lazy.min.js?v=72"></script>
	<script src="/include/js/output/plugin/jquery.lazy.av.min.js?v=72"></script>

			<script src="/include/js/output/home.min.js?v=72"></script>
	
	<!-- Google Tag Manager -->
	<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', "GTM-NWVHDLV");
	</script>
	<!-- End Google Tag Manager -->

	<!--AceCounter-Plus Log Gathering for AceTag Manager V.9.2.20170103-->
	<script type="text/javascript">

        var _AceTM = (function (_j, _s, _b, _o, _y) {

            var _uf='undefined',_pmt='',_lt=location;var _ap = String(typeof(_y.appid) != _uf ? _y.appid():(isNaN(window.name))?0:window.name);var _ai=(_ap.length!=6)?(_j!=0?_j:0):_ap;if(typeof(_y.em)==_uf&&_ai!=0){var _sc=document.createElement('script');var _sm=document.getElementsByTagName('script')[0];

                var _cn={tid:_ai+_s,hsn:_lt.hostname,hrf:(document.referrer.split('/')[2]),dvp:(typeof(window.orientation)!=_uf?(_ap!=0?2:1):0),tgp:'',tn1:_y.uWorth,tn2:0,tn3:0,tw1:'',tw2:'',tw3:'',tw4:'',tw5:'',tw6:'',tw7:_y.pSearch};_cn.hrf=(_cn.hsn!=_cn.hrf)?_cn.hrf:'in';for(var _aix in _y){var _ns=(_y[_aix])||{};

                    if(typeof(_ns)!='function'){_cn.tgp=String(_aix).length>=3?_aix:'';_cn.tn2=_ns.pPrice;_cn.tn3=_ns.bTotalPrice;_cn.tw1=_ns.bOrderNo;_cn.tw2=_ns.pCode;_cn.tw3=_ns.pName;_cn.tw4=_ns.pImageURl;_cn.tw5=_ns.pCategory;_cn.tw6=_ns.pLink;break;};};_cn.rnd=(new Date().getTime());for(var _alx in _cn){

                    var _ct=String(_cn[_alx]).substring(0,128);_pmt+=(_alx+"="+encodeURIComponent((_ct!=_uf)?_ct:'')+"&");};_y.acid=_ai;_y.atid=_cn.tid;_y.em=_cn.rnd;_sc.src=((_lt.protocol.indexOf('http')==0?_lt.protocol:'http:')+'//'+_b+'/'+_o)+'?'+_pmt+'py=0';_sm.parentNode.insertBefore(_sc,_sm);};return _y;

        })(133589,'CR-10-A', 'atm.acecounter.com','ac.js',window._AceTM||{});

	</script>
	<!--AceCounter-Plus Log Gathering for AceTag Manager End -->
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWVHDLV"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- Channel Plugin Scripts -->
	<script>
		window.channelPluginSettings = {
			"plugin_id": "e73d4e9b-1c86-4584-9cc4-3926242de3f1"
		};
		(function () {
			var node = document.createElement('div');
			node.id = 'ch-plugin';
			document.body.appendChild(node);
			var async_load = function () {
				var s = document.createElement('script');
				s.type = 'text/javascript';
				s.async = true;
				s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
				s.charset = 'UTF-8';
				var x = document.getElementsByTagName('script')[0];
				x.parentNode.insertBefore(s, x);
			};
			if (window.attachEvent) {
				window.attachEvent('onload', async_load);
			} else {
				window.addEventListener('load', async_load, false);
			}
		})();
	</script>
	<!-- End Channel Plugin -->

	<div id="content"></div>

    <section id="pc-bottom-banner">
        <section class="wrapper">
            <section class="content">
                <button class="btn btn-close"></button>
                <div class="desktop">
                    <div class="title"><h1>Hello, {{ name }}!</h1></div>
                    <ul class="app-link">
                        <li>
                            <div class="mobile">
                                <div class="placeholder">휴대전화 번호를 입력하세요.</div>
                                <input type="text" class="input-mobile" />
                            </div>
                        </li>
                        <li class="separate"></li>
                        <li><button class="btn btn-receive"></button></li>
                    </ul>
                    <div class="background"></div>
                </div>
            </section>
        </section>
    </section>

	<header>
		<section class="content">
			<div class="default">
				<a href="/">
					<div class="logo"></div>
				</a>
			</div>
			<div class="reverse">
				<a href="/">
					<div class="logo"></div>
				</a>
				<button class="btn btn-confirm"></button>
				<a href="/main#stuff">
					<button class="btn btn-request"></button>
				</a>
			</div>
		</section>
	</header>

	<section id="gate">
		<section class="background">
			<div class="content">
				<ul class="desktop">
					<li>
						<div></div>
					</li>
				</ul>
			</div>
		</section>
		<section class="content">
			<section class="introduce"></section>
			<section class="buttons">
				<div class="request">
					<a href="/main#stuff">
						<button class="btn btn-request"></button>
					</a>
				</div>
				<div class="separate"></div>
				<div class="confirm">
					<button class="btn btn-confirm"></button>
				</div>
			</section>
			<section class="statistics">
				<div class="rfp-request-count">
					<div class="content">
						<div class="name">이사 요청 수</div>
						<div class="count"><span class="number">0</span></div>
						<div class="unit">건</div>
					</div>
				</div>
				<div class="separate">
					<div class="line"></div>
				</div>
				<div class="est-accumulate-count">
					<div class="content">
						<div class="name">누적 견적 수</div>
						<div class="count"><span class="number">0</span></div>
						<div class="unit">건</div>
					</div>
				</div>
				<div class="separate">
					<div class="line"></div>
				</div>
				<div class="est-amount">
					<div class="content">
						<div class="name">전체 견적금액</div>
						<div class="count"><span class="number">0</span></div>
						<div class="unit">억</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<section id="summary">
		<section class="content">
			<section class="caption lazy">
				<div class="title"></div>
				<!-- div class="subtitle"></div -->
			</section>
			<section class="sequence lazy">
				<ul>
					<li>
						<div class="sequence-1">
							<div class="icon"></div>
							<div class="title"></div>
						</div>
					</li>
					<li>
						<div class="arrow">
							<div class="icon"></div>
						</div>
					</li>
					<li>
						<div class="sequence-2">
							<div class="icon"></div>
							<div class="title"></div>
						</div>
					</li>
					<li>
						<div class="arrow">
							<div class="icon"></div>
						</div>
					</li>
					<li>
						<div class="sequence-3">
							<div class="icon"></div>
							<div class="title"></div>
						</div>
					</li>
					<li>
						<div class="arrow">
							<div class="icon"></div>
						</div>
					</li>
					<li>
						<div class="sequence-4">
							<div class="icon"></div>
							<div class="title"></div>
						</div>
					</li>
				</ul>

			</section>
		</section>
	</section>
	<section id="how-to-use-1">
		<section class="content">
			<section class="caption">
				<ul>
					<li></li>
					<li class="title lazy"></li>
					<li>가구, 가전제품, 짐 박스 개수, 요청사항을 입력하세요.</li>
				</ul>
			</section>
			<section class="media lazy">
				<div class="background"></div>
				<video muted>
					<data-src class="video-lazy" src="/include/media/mov_stuff.mp4" type="video/mp4"></data-src>
				</video>
			</section>
		</section>
	</section>
	<section id="how-to-use-2">
		<section class="content">
			<section class="media">
				<div class="background"></div>
				<video muted>
					<data-src class="video-lazy" src="/include/media/mov_estimate_list.mp4" type="video/mp4"></data-src>
				</video>
			</section>
			<section class="caption">
				<ul>
					<li></li>
					<li class="title lazy"></li>
					<li>기사님들이 제시하는 이사 비용을 비교해보세요.<br>(기사님들은 서로의 견적을 알 수 없습니다.)</li>
				</ul>
			</section>
		</section>
	</section>
	<section id="how-to-use-3">
		<section class="content">
			<section class="caption">
				<ul>
					<li></li>
					<li class="title lazy"></li>
					<li>이사 비용, 별점, 리뷰를 보고 내 이사를 맡아줄<br>기사님을 직접 선택하세요.</li>
				</ul>
			</section>
			<section class="media lazy">
				<div class="background"></div>
				<video muted>
					<data-src class="video-lazy" src="/include/media/mov_driver.mp4" type="video/mp4"></data-src>
				</video>
			</section>
		</section>
	</section>
	<section id="driver">
		<section class="content">
			<section class="caption">
				<div class="title lazy"></div>
			</section>
			<section class="process">
				<article class="interview lazy">
					<div></div>
				</article>
				<article class="kindness lazy">
					<div></div>
				</article>
				<article class="monitoring lazy">
					<div></div>
				</article>
			</section>
		</section>
	</section>
	<section id="interview">
		<div class="desktop">
			<div class="owl-page">
				<span class="page">01</span>/<span class="pages">00</span>
			</div>
			<div class="owl-carousel slides interview-carousel">
                <div class="slide" data-src="https://blog.naver.com/zimssa24/221603237636">
                    <img class="img-lazy" data-src="/include/img/img_driver_interview_14.jpg" alt="한지훈 기사님">
                </div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221570564530">
                    <img class="img-lazy" data-src="/include/img/img_driver_interview_13.jpg" alt="최건환 기사님">
				</div>
				
                <div class="slide" data-src="https://blog.naver.com/zimssa24/221544923310">
                    <img class="img-lazy" data-src="/include/img/img_driver_interview_12.jpg" alt="박원석 기사님">
                </div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221514170880">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_11.jpg" alt="박일순 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221493618221">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_10.jpg" alt="이현우 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221472333616">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_09.jpg" alt="장상훈 기사님 / 장동훈 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221445284577">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_08.jpg" alt="원종구 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221416012035">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_04.jpg" alt="김태일 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221393634010">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_07.jpg" alt="이형준 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221306456540">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_01.jpg" alt="노세정 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221326349587">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_02.jpg" alt="이희수 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221352283200">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_03.jpg" alt="안병국 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221371666810">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_06.jpg" alt="이세영 기사님">
				</div>

				<div class="slide" data-src="https://blog.naver.com/zimssa24/221359036304">
					<img class="img-lazy" data-src="/include/img/img_driver_interview_05.jpg" alt="이환석 기사님">
				</div>
			</div>
		</div>
	</section>
	<section id="reviews">
		<section class="content">
			<section class="caption lazy">
				<div class="title"></div>
				<!-- div class="subtitle"></div -->
			</section>
			<section class="review">
				<div class="desktop">
					<div class="pictures">
						<div class="owl-page">
							<span class="page">01</span>/<span class="pages">00</span>
						</div>
						<div class="owl-carousel slides picture-carousel">
							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_01.jpg" alt="서울 일반 이사">
								</div>
							</div>

							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_02.jpg" alt="박수현님 포장 이사">
								</div>
							</div>

							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_03.jpg" alt="경기 일반 이사">
								</div>
							</div>

							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_04.jpg" alt="이서진님 반포장 이사">
								</div>
							</div>

							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_05.jpg" alt="광주 반포장 이사">
								</div>
							</div>

							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_06.jpg" alt="충북 포장 이사">
								</div>
							</div>

							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_07.jpg" alt="이도현님 반포장 이사">
								</div>
							</div>

							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_08.jpg" alt="대전 일반 이사">
								</div>
							</div>

							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_09.jpg" alt="이대길님 반포장 이사">
								</div>
							</div>

							<div class="slide">
								<div class="picture">
									<img class="img-lazy" data-src="/include/img/customer_card_thumnail_10.jpg" alt="경북 차량만 이사">
								</div>
							</div>
						</div>
					</div>
					<div class="comments">
						<div class="comment show">
							<p class="content">
								엘리베이터 없는 집이어서 많이 힘드셨을 텐데
								웃음 가득한 모습으로 옮겨주셔서 너무 감사합니다:)
								진짜 별 10개 드리고 싶어요~~
								가는 내내 즐거운 대화 나눴습니다.
								사장님 너무 친절하세요.
								꼭 기사님과 이사하세요 기분 좋은 이사하실 거예요^^
							</p>
							<p class="move">서울<br>일반 이사</p>
						</div>

						<div class="comment">
							<p class="content">
								졸업 후 본격적으로 승무원 시험을 준비하기 위해 짐싸를 통해
								이사를 하게 되었어요. 이사가 고민이었는데 짐싸 기사님께서
								안전하게 짐을 옮겨 주셔서 너무 편하게 이사했어요.
								새롭게 이사한 동네는 김포공항을 오가는 비행기가 보여서
								너무 좋아요!
							</p>
							<p class="move">박수현님<br>포장 이사</p>
							<button class="btn btn-more" data-src="https://blog.naver.com/zimssa24/221309156512"></button>
						</div>

						<div class="comment">
							<p class="content">
								약속시간보다 일찍 오셔서 배려해주시고 미처 준비되지
								못한 것까지 신경 써주셔서 빠르고
								정말 편하게 할 수 있었어요.
								이사 장소까지 같이 동승하였는데 이런저런 이야기도
								해주셔서 즐겁게 이사할 수 있었습니다.
								엘리베이터가 없었는데도 빠르고 안전하게
								잘 마무리해주셔서 정말 감사합니다!
								다음에 또 뵙겠습니다 :)
							</p>
							<p class="move">경기<br>일반 이사</p>
						</div>

						<div class="comment">
							<p class="content">
								연차까지 쓴 이사 당일 예기치 않게 비가 와서 걱정을 많이 했었어요. 혼자였다면 버거웠겠지만 남자친구와 짐싸 기사님과 함께 하니 꽤 즐거운 시간이 되더라고요. 제가 사랑을 알려주듯, 이사가 막막한 사람들에게 짐싸가 좋은 나침반이 되었으면 좋겠어요.
							</p>
							<p class="move">이서진님<br>반포장 이사</p>
							<button class="btn btn-more" data-src="https://blog.naver.com/zimssa24/221358382221"></button>
						</div>

						<div class="comment">
							<p class="content">
								친절하시고 인상도 좋으시고 댕댕이도 너무 좋아해주셔서
								이사하는 내내 강아지와 함께 기분 좋게 이사했네요^^
								감사합니다. 다음에 이사하거나 주변에 이사하는 분 있으면 소개해드릴게요!! 비 오는 날. 수고 많으셨습니다!
							</p>
							<p class="move">광주<br>반포장 이사</p>
						</div>

						<div class="comment">
							<p class="content">
								검색으로 여길 알게 되었구요 믿음이 가고 꼼꼼히
								포장해주셨어요  정말 방구석에 떨어져서
								잃어버린 줄 알았던 귀걸이 하나까지도 옮겨주셨어요.
								너무 잘해주셔서 감사했어요~^^
							</p>
							<p class="move">충북<br>포장 이사</p>
						</div>

						<div class="comment">
							<p class="content">
								짐싸와 함께한 이사는 저에게 결혼식 아침 같은 느낌이었어요. 꼭 결혼식 아침처럼 분주하고 정신없지만 막상 옆에서 다 도와주고 끝나면 후련했거든요. 훗날 제 이름을 건 헤어샵을 차리게 되면 그때도 짐싸와 함께 하고 싶어요!
							</p>
							<p class="move">이도현님<br>반포장 이사</p>
							<button class="btn btn-more" data-src="https://blog.naver.com/zimssa24/221302987446"></button>
						</div>

						<div class="comment">
							<p class="content">
								셀프이사만 하다 처음으로 기사님 만나서 이사했는데
								정말 신세계였어요.. 신속하고 정확하게 처리해주셔서
								걱정 한시름 덜었습니다ㅠㅠ 엘레베이터 없어서 힘드셨을텐데 너무 감사했어요 기사님!
								앞으로 이사할 일 생긴다면 또 이용하고 싶습니다!
							</p>
							<p class="move">대전<br>일반 이사</p>
						</div>

						<div class="comment">
							<p class="content">
								꿈만 같았던 나만의 집으로 이사가는 날, 친절한 짐싸 기사님을
								만나 정말 편하게 이사하고 역사적인 순간을 맘껏 즐길 수 있었어요. 자취 7년만에 마련한 저의 첫 번째 집에서 큰 변화를 위한
								두번째 단계를 시도하고 싶어요.
							</p>
							<p class="move">이대길님<br>반포장 이사</p>
							<button class="btn btn-more" data-src="https://blog.naver.com/zimssa24/221310942394"></button>
						</div>

						<div class="comment">
							<p class="content">
								제가 비 오는 날 이사를 하게 됐는데, 차량만 대절했는데도 불구하고 너무 친절하게 도와주셔서 편하게 이사할 수 있었습니다!
								좋은 기사님 만나서 서울까지 먼 거리 가는 동안 재밌게 이야기도
								나누고 편하고 빠르게 짐도 옮길 수 있었어요!!
								다음에 또 이용 하고 싶어요 ☺️
							</p>
							<p class="move">경북<br>차량만 이사</p>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<!--<section id="box">
		<section class="content">
			<section class="caption lazy">
				<div class="title"></div>
				<div class="subtitle"></div>
			</section>
			<a href="http://smartstore.naver.com/zimssastore/products/2931347058" target="_blank">
				<button class="btn btn-purchase box-purchase lazy"></button>
			</a>
			<div class="bg-box"></div>
		</section>
	</section>-->
	<section id="mobile">
		<section class="content">
			<div class="desktop lazy">
				<div class="title"></div>
				<ul class="app-link">
					<li>
						<div class="mobile">
							<div class="placeholder">휴대전화 번호를 입력하세요.</div>
							<input type="text" class="input-mobile" />
						</div>
					</li>
					<li class="separate"></li>
					<li><button class="btn btn-receive"></button></li>
				</ul>
				<div class="background"></div>
			</div>
		</section>
	</section>
	<footer>
		<section class="content">
			<section class="menu">
				<ul>
					<li>
						<a href="/main#notice">
							<button class="btn btn-notice">공지 및 이벤트</button>
						</a>
					</li>
					<li>
						<a href="mailto:marketing@zimssa.kr" target="_blank">
							<button class="btn btn-marketing">마케팅 제휴</button>
						</a>
					</li>
					<li><button class="btn btn-terms">이용약관</button></li>
					<li><button class="btn btn-privacy">개인정보 취급방침</button></li>
				</ul>
			</section>
			<section class="company">
				<div class="logo lazy"></div>
				<p class="pc">
					(주)짐싸 주소 : 서울특별시 강남구 테헤란로 142 6층 대표 : 한성배<br>
					사업자등록번호 : 336 - 87 - 00759 화물자동차운송주선사업자 : 제 140060호 통신판매업신고 : 2018-서울강남-03605호<br><br>
					Copyright ZIMSSA Inc.. LTD ALL RIGHT RESERVED.
				</p>
			</section>
			<section class="support">
				<div class="title">
					고객센터
					<a href="tel:18332427">1833 - 2427</a>
				</div>
				<div class="time">(평일 오전 10시 ~ 오후 6시, 주말 및 공휴일 제외)</div>
				<div class="time">전화로는 견적상담이 불가하오니, 홈페이지 또는 어플을 통해 견적신청 이용 부탁드립니다.</div>
			</section>
			<section class="marketing lazy">
				<ul>
					<li><a href="https://www.facebook.com/zimssa" target="_blank"><button class="btn btn-facebook"></button></a></li>
					<li><a href="https://www.instagram.com/zimssa_official/" target="_blank"><button class="btn btn-instagram"></button></a></li>
					<li><a href="https://blog.naver.com/zimssa24" target="_blank"><button class="btn btn-blog"></button></a></li>
					<li><a href="https://post.naver.com/zimssa24" target="_blank"><button class="btn btn-post"></button></a></li>
				</ul>
			</section>
		</section>
	</footer>

	<link rel="stylesheet" type="text/css" href="/include/css/output/plugin/normalize.min.css?v=72"/>
	<link rel="stylesheet" type="text/css" href="/include/css/output/plugin/jquery-ui.min.css?v=72"/>
	<link rel="stylesheet" type="text/css" href="/include/css/output/toast.min.css"/>
	<link rel="stylesheet" type="text/css" href="/include/css/output/zimssa-input.min.css"/>
	<link rel="stylesheet" type="text/css" href="/include/css/output/dialog/dialog.min.css"/>
    <link rel="stylesheet" type="text/css" href="/include/css/output/dialog/notice.min.css"/>
    <link rel="stylesheet" type="text/css" href="/include/css/output/dialog/rfp.min.css"/>
	<link rel="stylesheet" type="text/css" href="/include/css/output/dialog/app-download.min.css"/>


	<script src="/include/js/output/plugin/jquery-ui.min.js?v=72"></script>
    <script type="text/javascript" src="/include/js/plugin/ua-parser.js?v=72" charset="utf-8"></script>
	<script src="/include/js/output/plugin/animateNumber.min.js?v=72"></script>
	<script src="/include/js/output/plugin/jquery.easing.1.3.min.js?v72"></script>
	<script src="/include/js/output/plugin/jquery.dotdotdot.min.js?v72"></script>
	<script src="/include/js/output/plugin/jquery.innerfade.min.js?v72"></script>
	
			<script src="/include/js/output/dialog/zimssa.min.js?v=72"></script>
		<script src="/include/js/output/dialog/notice.min.js?v=72"></script>
		<script src="/include/js/output/dialog/policy.min.js?v=72"></script>
		<script src="/include/js/output/dialog/app-download.min.js?v=72"></script>
		<script src="/include/js/output/message.min.js?v=72"></script>
		<script src="/include/js/output/toast.min.js?v=72"></script>
		<script src="/include/js/output/dialog.min.js?v=72"></script>
		<script src="/include/js/output/util.min.js?v=72"></script>
		<script src="/include/js/output/zimssa-input.min.js?v=72"></script>
		<script src="/include/js/output/zimssa-marquee.min.js?v=72"></script>
		<script src="/include/js/output/api.min.js?v=72"></script>
	
	<script>
		// A. Account ID 적용
		if (!wcs_add) var wcs_add = {};

		wcs_add["wa"] = "s_2484a736de39";

		//B.유입추적함수
		if (!_nasa) var _nasa = {};

		wcs.inflow();

		// C. 로그 수집 함수 호출
		wcs_do(_nasa);
	</script>

    <!-- LOGGER(TM) TRACKING SCRIPT V.40 FOR logger.co.kr / 102349 : COMBINE TYPE / DO NOT ALTER THIS SCRIPT. -->
    <script type="text/javascript">var _TRK_LID = "102349";var _L_TD = "ssl.logger.co.kr";var _TRK_CDMN = ".zimssa.kr";</script>
    <script type="text/javascript">var _CDN_DOMAIN = location.protocol == "https:" ? "https://fs.bizspring.net" : "http://fs.bizspring.net";
        (function (b, s) { var f = b.getElementsByTagName(s)[0], j = b.createElement(s); j.async = true; j.src = '//fs.bizspring.net/fs4/bstrk.1.js'; f.parentNode.insertBefore(j, f); })(document, 'script');
    </script>
    <noscript><img alt="Logger Script" width="1" height="1" src="http://ssl.logger.co.kr/tracker.1.tsp?u=102349&amp;js=N"/></noscript>
    <!-- END OF LOGGER TRACKING SCRIPT -->

    <script type="text/javascript">
        var phpReferrer = "";
    </script>
</body>

</html>